@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans:wght@700&display=swap');

.titlecarrito{
    font-family: 'Open Sans', sans-serif;
}
.textcarrito{
    font-family: 'Mulish', sans-serif;
}
.img_envios{
    width: 80%;
    margin: 10px;
}
.linea{
    width: 200px;
    height: 1px;
    background-color: green;
}
.circle{
    width: 28px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid green;
}
.circle_active{
    width: 28px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid green;
    background-color: rgb(147, 223, 147);
}
.icono{
    transform: scale(2);
    margin-right: 10px;
}
.m_checkbox{
    margin: 15px;
}
.iconos_nav{
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
}
@media only screen and (max-width: 600px) {
    .iconos_nav {
      position: relative;
      width: 100%;
      margin: 0px;
    }
  }
.linea_metodos_pago{
    width: 50%;
    height: 1px;
    background-color: green;
    margin-top: 10px;
}
.confirmacion{
    padding: 5%;
    text-align: center;
}

.contenedor{
    display: flex;
    overflow: scroll;
    width: 100vw;
}