.buttons {
    background: #78A825;
    border:none;
    margin-bottom: 15px;
    margin-right: 45px;
    transition: background 0.5s;
  }
  .buttons:hover{
    background: #92d126;
  }
  .img-borders {
    background: #FFFFFF;
    border: 2px solid #B9B9B9;
    box-sizing: border-box;
    padding: 30px;
  }
  .img-small {
    width: 87px;
    border: 1px solid #B9B9B9;
    margin: 6px;
  }
  .img-galeria {
    max-width: 300px;
    border: 1px solid #B9B9B9;
    margin-right: 6px;
  }
  .column-small {
    max-width: 127px;
    margin-right: 10px;
  }
  .column-text {
    margin: 0px 10px 0px 10px;
  }
  .column-btn {
    max-width: 210px;
    margin-right: 0px;
    align-content: center;
  }
  .link-opiniones{
    color:#78A825;
    margin-bottom:20px;
  }
  .img-opinion{
    margin-left: 40px;
    text-align: center;

    top: 0%;
    bottom: -1.15%;
    transform: matrix(1, 0, 0, 1, 0, 0);
    max-width: 60px;
    max-height: 68px;
  }
  .row-btn {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .descripcion{
    margin: 50px 0px 50px 50px;
  }
  .opiniones{
    margin: 50px 0px 50px 0px;
  }
  /* .icono{
    color: #78A825;
 
  } */