body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.buttons {
  background: #78A825;
  border:none;
}
.img-borders {
  background: #FFFFFF;
  border: 2px solid #B9B9B9;
  box-sizing: border-box;
  padding: 30px;
}
.img-small {
  width: 87px;
  border: 1px solid #B9B9B9;
  margin: 6px;
}
.img-galeria {
  max-width: 300px;
  border: 1px solid #B9B9B9;
  margin-right: 6px;
}
.column-small {
  max-width: 127px;
  margin-right: 10px;
}
.column-text {
  margin: 0px 10px 0px 10px;
}
.column-btn {
  max-width: 190px;
  margin-right: 10px;
}