body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poppins22 {
  font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;
}

.poppins32{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;  
}
.poppins18 {
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
}

.tinos14{
  font-family: 'Tinos', serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
}

.poppins18bold{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 27px;
}

.poppins22bold{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  text-decoration-line: underline;
}