.text_resultados {
  font-family: Poppins;
  font-weight: 600;
  line-height: 48px;
}

.filtrar {
  width: 105px;
}

.filtro1 {
  width: 79px;
}

.filtro2 {
  width: 79px;
}

.filtro3 {
  width: 79px;
}

